@font-face {
  font-family: "Digital";
  src: url(font.ttf);
}

body {
  font-family: "Digital";
  background-color: #1b2021;
  color: #d8ac9c;
  text-align: center;
  font-size: 3vw;
}

h1,
h2 {
  margin: 1vh auto;
  font-size: 6vh;
}

section {
  margin: 2vh auto;
  width: 80vw;
  border: 1px solid #5f939a;
  border-radius: 10px;
}

table {
  margin: auto;
}

.timer {
  font-size: 3em;
}

.arrows {
  font-size: 1em;
}

#minText,
#secText,
#msText {
  width: 20vw;
}

.btn {
  background-color: #d8ac9c;
  color: #1b2021;
  border-color: #5f939a;
  font-size: 3vh;
}

.btn:hover {
  background-color: #eac8af;
}

#startBtn {
  width: 68%;
  margin-left: 4%;
}

#resetBtn {
  min-width: 15%;
}

.controls {
  padding: 1vh 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
